@charset "UTF-8";

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: rgb(196, 217, 228);
}

tr {
    text-align: center;
}

th, td {
    background-color: rgb(242, 249, 255);
}

#cadastrar {
    background-color: rgb(0, 186, 0);
    color: white;
    border-style: none;
    border-radius: 7px;
    height: 25px;
}

.delete {
    background-color: #ff0000;
    color: #fff;
    border-style: none;
    border-radius: 3px;
}

.btn {
    background-color: rgb(0, 0, 0, 0);
}

.delete, #cadastrar {
    cursor: pointer;
}